// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"ash": #262626,
	"grey": #D5D3CC,
	"snow": #F9F7F2,
	"ice": #B4F1EC,
	"phtalo": #687D31,
	"space": #40676B,
	"moonstone": #6FA98B
);


$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

//utility classes

.display {
	font-family: "JetBrains Mono", sans-serif;
}

.subheading {
	font-family: "Jost", sans-serif;
	font-weight: 400;
}

.mellemrubrik {
	font-family:"JetBrains Mono", sans-serif;
	font-weight: 400;
}

.bodytekst {
	font-family: "Jost", sans-serif;
}

.btn {
	background-color: #B4F1EC;
	color: #262626;
	font-family: "Jost", sans-serif;
	border-radius: 4px;
	padding: 1rem;
}

.btn:hover {
	background-color: #40676B;
	color: #F9F7F2;
}

.main-nav {
	position: fixed;
	bottom: 0;
	width: 100%;
	z-index: 100;
	background-color: #262626;

}

.nav-link {
	color: #f9f7f2;
	text-decoration: none;
}

.main-nav .nav-link:hover {
	color: #6FA98B;
}

body {
	padding-bottom: 20px;
}

@media (min-width: 992px) {
	.main-nav {
		top: 0;
		bottom: auto;
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.2) 60%, rgba(0, 0, 0, 0) 100%);
		border-bottom: none;
		box-shadow: none;
	}
	body {
		padding-bottom: 0;
	}
}


.page-footer {
	z-index: -100;
}

.footer-logo {
	max-height: 200px;
	max-width: 200px;
}

@media (max-width: 1024px) {
	.page-footer {
		margin-bottom: 2rem;
	}
}

//hero video

.hero {
	height: 60vh;
	overflow: hidden;
}

.hero video{
	z-index: 1;
}

.video-gradient {
	z-index: 2;
	background: linear-gradient(to right, rgba(0,0,0.3,0.6), rgba(0, 0, 0, 0));
}

.hero-gradient {
	background: linear-gradient(-45deg, #687D31, #40676B, #6FA98B, #B4F1EC); /* Gradient */
	background-size: 400% 400%; /* Enlarged size for smooth animation */
	animation: gradientBG 10s ease infinite; /* Gradient animation */
	height: calc(100vh - 4rem);
	width: calc(100vw - 4rem);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2.5rem;

}

@keyframes gradientBG {
	0% { background-position: 0 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0 50%; }
}


.hero-content {
	z-index: 3
}

.card-img-top {
	border-radius: 4px;
}

.logo {
	display: none;
}

@media (min-width: 1024px) {
	.logo {
		display: block;
		height: 100px;
		width: 100px;
		z-index: 1000;
	}
}
 .movie-img {
	 margin-right: 20px;
	 object-fit: contain;
 }





